<div class="header">
	<div class="nav-bar-first">
		<div class="contact">
			<i class="fa fa-phone"></i> 021 5406 491
		</div>
		<div class="contact">
			<i class="fa fa-envelope"></i> info@tri-saudara.co.id
		</div>
		<div class="clear"></div>
	</div>