<div class="nav-bar-second">
	<div class="brand">
		<div class="brand-title">
			TRI-SAUDARA SENTOSA INDUSTRI
		</div>
		<div class="brand-description">
			Precision Mold Maker & Injection Molder
		</div>
	</div>
	<div class="menu">	
		<ul>
			<li class="<%= @active_home %>"><a href="/">Home</a></li>
			<li class="<%= @active_company %>"><a href="/company">Company</a></li>
			<li class="<%= @active_facilities %>"><a href="/facilities">Facilities</a></li>
			<li class="<%= @active_career %>"><a href="/career">Career</a></li>
			<li class="<%= @active_contact %>"><a href="/contact-us">Contact US</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>