 <%= render partial: 'template/box-info' %>
 <div class="information-contact">
 	<div class="left" style="width:470px;text-align:right">
 		<panel>
 			<i class="fa fa-file"></i> Form Contact	
 		</panel>
 		<div class="form-contact">
 			<%= form_for('contact') do |f| %>
 			<div class="border-form">
 				<%= f.label "Your Name :" ,{:class => 'label'}%>
 				<%= f.text_field :name,{:class=>'text-form',:required => 'Required'} %>
 			</div>
			<div class="border-form">
 				<%= f.label "Your Email :",{:class => 'label'} %> 				
 				<%= f.email_field :email,{:class=>'text-form',:required => 'Required'} %>
 			</div>
			<div class="border-form">
 				<%= f.label "Your Message :", {:class => 'label'} %> 				
 				<%= f.text_field :msg,{:class=>'text-form',:required => 'Required'} %>
 			</div>	
 				<%= f.submit :Send,{:class => "button"} %>
 			<% end %>
 		</div>
 	</div>
 	<div class="right" style="text-align:left !important;width:470px">
 		<panel>
 			<i class="fa fa-map"></i> Address
 		</panel>
 		<br>
 		<div class="content-contact">
 			PT. Tri-Saudara Sentosa Industri ( Plant I )<br>
			Jl.Kapuk Raya No.35,Jakarta Utara 14460<br>
			Phone : 021-540-64-91<br>
			Fax : 021-540-49-58 <br>
			E-mail : info@tri-saudara.co.id<br><br>

			PT. Tri-Saudara Sentosa Industri ( Plant II )<br>
			Jl.Pinang Blok F 17 No.3 Delta Silicon 3 Lippo Cikarang, Bekasi<br>
			Phone : 021-292-88-663<br>
			Fax : 021- 292-88-665<br><br>

			PT. Techno Indonesia ( EPTE Company )<br>
			Jl.Jati 6 Blok J5 No.19,Newton Techno Park Lippo Cikarang Bekasi<br>
			Phone : 021-8990-2202<br>
			Fax : 021-8990-2201<br>


 		</div>
 	</div>
 	<div class="clear"></div>
 </div>
 <div class="box-contact">
 	<iframe src="https://www.google.com/maps/d/embed?mid=1Ggbs7fqilAOb0goLGy6UrW_2ym4" width="100%" style="border:1px solid #fff" height="400px"></iframe>
 </div>
