*{
	padding:0px;
	margin:0px;
}

body{
	padding:0px;
	margin:0px;
}
.container-html{
	padding:0px;
	margin:0px;
	width:100%;
	position: relative;

}

.nav-bar-first{
	background-image: -webkit-linear-gradient( 0deg, #5a3a3a 0%, #341a73 100%);   	
	color:#ddd;
	padding:0px 80px;
	position: relative;
}

.nav-bar-second{
	padding:25px 150px;
	border-bottom:1px solid #ddd;
	box-shadow: 1px 1px 9px #ddd;

}

.clear{
	clear:both;
}
.contact{
	border-right: 1px dashed #aaa;
	max-width:300px;
	min-width: 180px;
	letter-spacing: 2;
	text-align: center;
	padding:10px 15px;
	float:left;
	font-size: 14px;
	font-family:Roboto;
}
.contact > .fa{
	padding-right: 10px;
}

.brand{
	float:left;
}

.brand-title{
	font-family: Roboto;
	font-size:17px;
	font-weight:600;
	color: #555;
	border-bottom:1px solid #666;
}

.brand-description{
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto;
	font-size:11px;
	color:#555;
	font-style: italic;
}

.menu{
	float:right;
	padding-top: 5px
}

.menu ul li{
	display: inline;
}

.menu ul li a{
	text-decoration: none;
	color:#666;
	font-family: Roboto;
	font-size: 15px;
	padding:18px 12px;
	text-transform: uppercase;
}

.text-in-image{
	background:rgba(0,0,0,0.7);
}

.menu ul li a:hover{
	border-bottom:2px solid #341a73;
	color:#341a73;
}

.img{
	max-width:100%;
	min-width:100%;
	min-height:500px;
	max-height:500px;
}

.active a{
	border-bottom:2px solid #341a73;
	color:#341a73 !important;
}

.box-info{
	padding:30px 200px;
	color:#777;
	font-size: 30px;
	font-family: Roboto;
	text-align: center;
	text-transform: uppercase;
}

.slider{
	background: rgba(0,0,0,0.4);
	max-width:100%;
	min-width:100%;
	min-height:500px;
	max-height:500px;
}

.box-contact{
	margin-bottom:20px;
	padding:50px;
}

.footer{
	padding:12px 25px;
	color:#ccc;
	background-image: -webkit-linear-gradient( 0deg, #5a3a3a 0%, #341a73 100%);   		
	box-shadow: 1px 1px 9px #ddd;
	font-family: Roboto;
	border-top:1px solid #ddd;
}

.left{
	float:left;
	width:auto;
	padding-left:50px;	
}

.right{
	float:right;
	width:auto;
	padding-right: 50px;
	text-align:right;	
}

.information-contact{
	padding:50px;
	text-align:center;
	color:#555;
	background: :#eee;
}

panel{
	font-size:35px;
	font-family: roboto;
	margin-bottom: 30px !important;
}

.phone{
	float:left;
	width:33%;
	font-family: Roboto;
}

.form-contact{
	margin-top: 40px;
}

.button{
	padding:13px;
	text-align:center;
	width:100%;
	font-size:17px;
	color:#ccc;
	margin-top: 40px;	
	background-image: -webkit-linear-gradient( 0deg, #5a3a3a 0%, #341a73 100%);   		
	border:none;
	cursor:pointer;
}

.button:hover{
	color:#ccc;
	background-image: -webkit-linear-gradient( 0deg, #5a3a3a 0%, #4D387F 100%);  	
}

.text-form{
	width:60%;
	border:none;
	padding:10px;
	font-size:16px;
	font-family: Roboto;
	margin-top: 10px;
	color:#666;
}

.text-form:focus{
	outline: none !important;
}

.label{
	width:70px;
}

.map{
	float:left;
	width:33%;
	font-family: Roboto;	
}
.email{
	float:left;
	width:33%;
	font-family: Roboto;	
}

.content-contact{
	margin-top:40px;
}

.border-form{
		border-bottom:1px solid #10BDD1;
		color:#777;
		font-family: Roboto;
}