<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container-html">
  		<%= render partial: 'template/header' %>
  			<%= render partial: 'template/navigation' %>
  		</div>	
    	<%= yield %>
   		<%= render partial: 'template/footer' %>   	
  	</div>
  </body>
</html>
